body, html {
    background: hsla(46, 50%, 50%, .7);
    width: 1800px;
    font-size: 20px;
    margin: 1em;
}

article{
    width: 600px;
    text-align: center;
    column-count: 1;
}

header {
    width: 1100px;
    align-content: right;
    
    background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: hsl(240, 17%, 89%);
    text-align: right;
    display: inline-block;
    margin: 1em;
    margin-right: 1em;
    margin-left: 1em;
    column-count: 3;
}

.nombre {
    font-size: 4.5em;
    text-align: center;
    vertical-align: baseline;
    /* font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /* font-family: 'Gaegu', cursive;*/
    font-family: 'Abel', sans-serif;
    width: 500px;
    display: inline;
}

.foto {
    align-content: right;
    padding-left: 1em;
    height: 500px;
}
.columna {
    align-content: left;
    text-align: left;
    width: 557px;
    background-color: hsla(170, 50%, 50%, 1);
}
}

 /*background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background: hsla(46, 50%, 50%, .7);*/

 /*   background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: right;*/