body, html {
    background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background: hsla(46, 50%, 50%, .7);
    width: 1800px;
    font-size: 20px;
    margin: 1em;
}

article{
    width: 600px;
    text-align: center;
    background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    column-count: 1;
}



.nombre {
    font-size: 4.5em;
    text-align: center;
    vertical-align: baseline;
    /* font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /* font-family: 'Gaegu', cursive;*/
    font-family: 'Abel', sans-serif;
    width: 500px;
   display: inline-block;
}

.foto {
    align-items: right;
    background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

