body, html {
    background: hsla(46, 50%, 50%, .7);
    width: 1800px;
    font-size: 23px;
    margin: 1em;
   padding: 1em;
}

span {
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    align-content: left;
    display: inline-block;
  
}

h4 {
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif;
}

article{
    width: 1200px;
    text-align: left;
    column-count: 1;
    background-position-x: left;
    background-position-y: top;
    margin-right: .2em;
    margin-left: -.5em;
}

aside {
    width: 1200px;
    background-color: aliceblue;
    height: 500px;
}

/*#header {
    width: 1111px;
    background-color: hsl(240, 17%, 89%);
    text-align: left;
    align-items: baseline;
    align-items: right;
    align-self: right;
    display: 'inline-block';
    align-content: center;
    margin-top: 0em; 
    margin-bottom: 10px;
    margin-right: 2em; 
    margin-left: 16em;
    padding-bottom: 1em;
    padding-top: 7em;
    column-count: 2;
}*/

.nombre {
    font-size: 1em;
    text-align: left;
    align-content: top;
    background-color: hsl(240, 17%, 89%);
    background-position-x: 0;
    background-position-y: 0;
    margin-top: -5em;
    margin-left: 0em;
    padding-right: 3px;
    padding-left: 0px;
    /* font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /* font-family: 'Gaegu', cursive;*/
    font-family: 'Abel', sans-serif;
    width: 700px;
    display: inline-block;
}

.foto {
    width: 255px;
    padding-top: 3em;
    padding-right: 0em;
    align-content: left;
    align-items: left;
    margin-bottom: 6;
    background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: 4;
    background-position-y: 1200;
    background-color: hsl(240, 17%, 89%);
    display: inline-block;
}
.columna {
    font-size: .9em;
    color: aliceblue;
    align-content: left;
    margin: 0em;
    margin-top: 0em;
    margin-right: 0em;
    padding-top: 0px;
    text-align: left;
    width: 600px;
    background-color: hsla(241, 83%, 50%, .7);
    background-position-x: left;
    background-position-y: top;
    display: inline-block; 
}

#cabecera {
    width: 1800px;
    column-count: 3;
}

#nombre-foto {
    width: 1200px;
    background-color: aliceblue;
    font-size: 2.8em;
    text-align: auto;
    align-content: left;
    margin-left: 0em;
    padding-right: 0em;
    padding-left: 0em;
    font-family: 'Abel', sans-serif;
    display: inline-block;
}

.referencias {
    background-color: aliceblue;
    width: 1200px;
}

.experiencia {
    background-color: aliceblue;
    width: 1200px;
}

.exp-laboral {
    background-color: aliceblue;
    width: 1200px;
    -ms-column-count: 2;
    -ms-column-gap: 1em;
    -ms-column-rule: thick solid black;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -moz-column-rule: thick solid black;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    -webkit-column-rule: thick solid black;
    column-count: 2;
    column-gap: 1em;
    column-rule: thick solid black;
}

.empresa, .empresa2 {
    text-align: right;
}

.empresa2 {
    padding-top: 3em;
    background-position-x: -3;
    background-position-y: 900;
}

.empresa {
    margin-top: 1em;
}

 /*background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background: hsla(46, 50%, 50%, .7);*/

 /*   background-image: url("jjf1.png");
    background-repeat: no-repeat;
    background-position-x: right;*/